:root {
  // Colors
  --main-white: #FFFFFF;
  --white-opacity-0-5: rgba(255, 255, 255, 0.5);

  --main-black: #333333;
  --black-1: #0F2027;
  --black-opacity-0-5: rgba(0, 0, 0, 0.5);
  --black-opacity-0-35: rgba(0, 0, 0, 0.35);
  --black-opacity-0-15: rgba(0, 0, 0, 0.15);

  --blue-1: #203A43;
  --blue-2: #2C5364;
  --blue-3: #5A728D;
  --blue-4: #4B728C;
  --blue-5: #436E8C;
  --blue-6: #00c6ff;
  --blue-7: #0072ff;
  --blue-opacity-0-15: rgba(157, 189, 255, 0.15);

  // Fonts
  --fz-regular: 14px;
  --fz-medium: 16px;
  --fz-small-title: 32px;
  --fz-medium-title: 48px;
  --fz-big-title: 64px;
  --fz-ultra-big-title: 84px;

  --fw-regular: 400;
  --fw-meduim: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  // Sizes
  --header-height: 68px;
}