@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

button {
  border: none;
  background-color: transparent;
}

html,
body {
  overflow: hidden;

  font-family: 'Poppins', sans-serif;
  color: var(--main-white);
}